<h1>Listing tracks</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Model name</th>
    <th>Action</th>
    <th>Model changes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tracks.each do |track| %>
  <tr>
    <td><%= track.item_id %></td>
    <td><%= track.model_name %></td>
    <td><%= track.action %></td>
    <td><%= track.model_changes %></td>
    <td><%= link_to 'Show', track %></td>
    <td><%= link_to 'Edit', edit_track_path(track) %></td>
    <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Track', new_track_path %>
