<h1>Listing timelines</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Model name</th>
    <th>Action</th>
    <th>Model changes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timelines.each do |timeline| %>
  <tr>
    <td><%= timeline.item_id %></td>
    <td><%= timeline.model_name %></td>
    <td><%= timeline.action %></td>
    <td><%= timeline.model_changes %></td>
    <td><%= link_to 'Show', timeline %></td>
    <td><%= link_to 'Edit', edit_timeline_path(timeline) %></td>
    <td><%= link_to 'Destroy', timeline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timeline', new_timeline_path %>
